<h1> İndex-Articles Listing Page </h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @article.each do |article| %>
      <tr>
        <td><%= article.tittle %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Delete' , article_path(article.id) , method: :delete  %></td>
        <td><%= link_to 'Edit' , edit_article_path(article)   %> </td>
      </tr>
    <% end %>
  </tbody>
</table>